<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <div class='container', style='padding-top:50px'>
      <div class='row'>
        <h1>PA Rails 1 Home</h1>
      </div>
      <div class='row'>
        <h2>By Jace Yang</h2>
      </div>
      <div class='row'>
        <div class="col-sm-4">
          <h3>Instructors Info</h3>
          <%= button_to "Click", "/instructors", :class => "btn btn-success", :method => :get %>
        </div>
        <div class="col-sm-4">
          <h3>Subjects Info</h3>
          <%= button_to "ClickClick", "/subjects", :class => "btn btn-success", :method => :get %>
        </div>
        <div class="col-sm-4">
          <h3>Courses Info</h3>
          <%= button_to "ClickClickClick", "/courses", :class => "btn btn-success", :method => :get %>
        </div>
      </div>
      <div class='row', style='padding-top:30px'>
        <h2> HELLO!!!!</h2>
      </div>
      <div class='row', style='padding-top:30px;color:blue'>
        <h2> HELLO!!!!</h2>
      </div>
      <div class='row', style='padding-top:30px;color:yellow'>
        <h2> HELLO!!!!</h2>
      </div>
      <div class='row', style='padding-top:30px;color:red'>
        <h2> HELLO!!!!</h2>
      </div>
      <div class='row', style='padding-top:30px;color:green'>
        <h2> HELLO!!!!</h2>
      </div>
      <div class='row', style='padding-top:30px;color:purple'>
        <h2> HELLO!!!!</h2>
      </div>

    </div>
  </body>
</html>